In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Import my modules.
import sys, os
from pathlib import Path
current_dir = os.path.join(Path().resolve())
sys.path.append(str(current_dir) + '/../')

from modules import utils
from modules import models
from modules import preprocess

import importlib
for m in [utils, models, preprocess]:
    importlib.reload(m)

In [3]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
mbd = 'microbusiness_density'

## Season実験

In [4]:
mbd = 'microbusiness_density'

df_train, df_test, df_subm = utils.load_dataset()
df_all, df_census = utils.merge_dataset(df_train, df_test, pop=False, unemploy=False, census=False, coord=False, co_est=False, fix_pop=True, add_location=False)
df_all = preprocess.add_lag_features(df_all, smooth=True)

/tmp/working/code-analysis/../modules/utils.py:326: DtypeWarning: Columns (102) have mixed types.Specify dtype option on import or set low_memory=False.
  df_census = load_census(BASE)

add lag features: max_scale=40
smooth_outlier: max_scale=40
used method: v3
# of fixed cfips: 1189
# of fixed value: 2310

In [54]:
df_season= utils.create_df_season(df_all, validate=False, active_thre=1000, abs_thre=[-0.006, 0.006], v_clip=[-0.01, 0.01])

create df_season, max_scale: 40, validate: False

In [55]:
df_season.groupby('scale').count()

       cfips  select_rate1_mean
scale
41       217                217
42       240                240
43       386                386
44       363                363
45       246                246
46       184                184
47       382                382
48        74                 74
49        82                 82
50        68                 68
51        81                 81
52        60                 60

In [56]:
df_season[df_season['select_rate1_mean']>=0].groupby('scale').count()

       cfips  select_rate1_mean
scale
41        28                 28
42        19                 19
43       371                371
44       346                346
45         4                  4
46       120                120
47       379                379
49        82                 82
50        35                 35
51        58                 58
52        15                 15

In [57]:
df_season[df_season['select_rate1_mean']<0].groupby('scale').count()

       cfips  select_rate1_mean
scale
41       189                189
42       221                221
43        15                 15
44        17                 17
45       242                242
46        64                 64
47         3                  3
48        74                 74
50        33                 33
51        23                 23
52        45                 45