In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [62]:
# Import my modules.
import sys, os
from pathlib import Path
current_dir = os.path.join(Path().resolve())
sys.path.append(str(current_dir) + '/../')

from modules import utils
from modules import models
from modules import preprocess

import importlib
for m in [utils, models, preprocess]:
    importlib.reload(m)

In [3]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
mbd = 'microbusiness_density'

## Trend実験

In [57]:
mbd = 'microbusiness_density'

df_train, df_test, df_subm = utils.load_dataset()
df_all, df_census = utils.merge_dataset(df_train, df_test, pop=False, unemploy=False, census=False, coord=False, co_est=False, fix_pop=True, add_location=False)
df_all = preprocess.add_lag_features(df_all, smooth=True)

add lag features: max_scale=40
smooth_outlier: max_scale=40
used method: v3
# of fixed cfips: 1189
# of fixed value: 2310

In [79]:
df_season= utils.create_df_season(df_all, validate=True, max_scale=32)

create df_season, max_scale: 32, validate: True

In [81]:
df_s

,cfips,month,select_rate1_sum,select_rate1_count,cnt_sum,cnt_count,select_rate1_mean,scale
0,1003,1,0.011752,3,1,3,0.003917,29
1,1003,2,-0.010000,3,-1,3,-0.003333,30
2,1003,3,0.022448,3,3,3,0.007483,31
3,1003,4,0.021108,3,3,3,0.007036,32
4,1003,5,0.008142,2,2,2,0.004071,33
...,...,...,...,...,...,...,...,...
6055,56033,8,0.013496,3,1,3,0.004499,36
6056,56033,9,0.009259,3,1,3,0.003086,37
6057,56033,10,0.023337,3,3,3,0.007779,38
6058,56033,11,0.019806,3,3,3,0.006602,39
6059,56033,12,0.000355,3,1,3,0.000118,40

In [82]:
df_season.groupby('scale').count()

       cfips  select_rate1_mean
scale
29        72                 72
30       103                103
31       186                186
32       186                186
33       131                131
34       142                142
35       129                129
36        15                 15
37        56                 56
38        52                 52
39        53                 53
40        57                 57

In [83]:
df_season[df_season['select_rate1_mean']>=0].groupby('scale').count()

       cfips  select_rate1_mean
scale
29        13                 13
30         5                  5
31       185                185
32       184                184
33        44                 44
34        55                 55
35       110                110
37        56                 56
38        26                 26
39        51                 51
40        13                 13

In [84]:
df_season[df_season['select_rate1_mean']<0].groupby('scale').count()

       cfips  select_rate1_mean
scale
29        59                 59
30        98                 98
31         1                  1
32         2                  2
33        87                 87
34        87                 87
35        19                 19
36        15                 15
38        26                 26
39         2                  2
40        44                 44