In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
# Import my modules.
import sys, os
from pathlib import Path
current_dir = os.path.join(Path().resolve())
sys.path.append(str(current_dir) + '/../')

from modules import utils
from modules import models
from modules import preprocess

import importlib
for m in [utils, models, preprocess]:
    importlib.reload(m)

In [5]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
mbd = 'microbusiness_density'

## Season実験

In [6]:
mbd = 'microbusiness_density'

df_train, df_test, df_subm = utils.load_dataset()
df_all, df_census = utils.merge_dataset(df_train, df_test, pop=False, unemploy=False, census=False, coord=False, co_est=False, fix_pop=True, add_location=False)
df_all = preprocess.add_lag_features(df_all, smooth=True)

/tmp/working/code-analysis/../modules/utils.py:326: DtypeWarning: Columns (102) have mixed types.Specify dtype option on import or set low_memory=False.
  df_census = load_census(BASE)

add lag features: max_scale=40
smooth_outlier: max_scale=40
used method: v3
# of fixed cfips: 1189
# of fixed value: 2310

In [7]:
df_season= utils.create_df_season(df_all, validate=False, active_thre=2000, abs_thre=[-0.003, 0.003], v_clip=[-0.01, 0.01])

create df_season, max_scale: 40, validate: False

In [8]:
df_season.groupby('scale').count()

       cfips  select_rate1_mean
scale
41       172                172
42       173                173
43       408                408
44       467                467
45       169                169
46       256                256
47       427                427
48        37                 37
49       136                136
50       117                117
51        97                 97
52        56                 56

In [9]:
df_season[df_season['select_rate1_mean']>=0].groupby('scale').count()

       cfips  select_rate1_mean
scale
41        53                 53
42        16                 16
43       404                404
44       461                461
45         7                  7
46       218                218
47       425                425
49       136                136
50       100                100
51        87                 87
52        27                 27

In [10]:
df_season[df_season['select_rate1_mean']<0].groupby('scale').count()

       cfips  select_rate1_mean
scale
41       119                119
42       157                157
43         4                  4
44         6                  6
45       162                162
46        38                 38
47         2                  2
48        37                 37
50        17                 17
51        10                 10
52        29                 29

In [21]:
df_season42 = df_season[df_season['scale']==45].copy()
df_season42[df_season42['select_rate1_mean']<-0.006]['cfips'].to_list()

[5031,
 6023,
 6087,
 8085,
 12061,
 17077,
 17091,
 18039,
 18095,
 19103,
 20045,
 21145,
 21185,
 23017,
 24015,
 25005,
 26103,
 26121,
 27171,
 29021,
 30013,
 33009,
 36083,
 37057,
 39009,
 39055,
 42001,
 42103,
 44005,
 45077,
 46083,
 47011,
 47105,
 48053,
 50027,
 51095,
 51660,
 53041,
 54011,
 55059]