In [85]:
import numpy as np
import pandas as pd
import seaborn as sns

In [86]:
# Import my modules.
import sys, os
from pathlib import Path
current_dir = os.path.join(Path().resolve())
sys.path.append(str(current_dir) + '/../')

from modules import utils
from modules import models
from modules import preprocess

import importlib
for m in [utils, models, preprocess]:
    importlib.reload(m)

In [87]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
mbd = 'microbusiness_density'

## Season実験

In [88]:
mbd = 'microbusiness_density'

df_train, df_test, df_subm = utils.load_dataset()
df_all, df_census = utils.merge_dataset(df_train, df_test, pop=False, unemploy=False, census=False, coord=False, co_est=False, fix_pop=True, add_location=False)
df_all = preprocess.add_lag_features(df_all, smooth=True)

/tmp/working/code-analysis/../modules/utils.py:326: DtypeWarning: Columns (102) have mixed types.Specify dtype option on import or set low_memory=False.
  df_census = load_census(BASE)

add lag features: max_scale=40
smooth_outlier: max_scale=40
used method: v3
# of fixed cfips: 1189
# of fixed value: 2310

In [89]:
df_season= utils.create_df_season(df_all, validate=False)

create df_season, max_scale: 40, validate: False

In [91]:
df_season.groupby('scale').count()

       cfips  select_rate1_mean
scale
41        71                 71
42       104                104
43       190                190
44       189                189
45        85                 85
46        69                 69
47       203                203
48        15                 15
49        42                 42
50        28                 28
51        29                 29
52        23                 23

In [92]:
df_season[df_season['select_rate1_mean']>=0].groupby('scale').count()

       cfips  select_rate1_mean
scale
41        12                 12
42         5                  5
43       189                189
44       187                187
45         1                  1
46        59                 59
47       203                203
49        42                 42
50        23                 23
51        28                 28
52         8                  8

In [93]:
df_season[df_season['select_rate1_mean']<0].groupby('scale').count()

       cfips  select_rate1_mean
scale
41        59                 59
42        99                 99
43         1                  1
44         2                  2
45        84                 84
46        10                 10
48        15                 15
50         5                  5
51         1                  1
52        15                 15